@page
@model PeopleSearchApp.Pages.Persons.IndexModel

@{
    ViewData["Title"] = "People";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>People</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Search">
        <input type="checkbox" asp-for="DelayedSearch"/> Delay Search
        <a asp-page="./Index">Reset</a>
    </p>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].Interests)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].Address1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].Address2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persons[0].Zip)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Persons) {
        <tr>
            <td>
                <img src="@item.Picture" height="50px" alt="@item.FirstName">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                <a asp-page="./InterestDetails" asp-route-id="@item.Id">View</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts {
    <script>
    $(document).on('submit', 'form', function () {
        busyIndicator();
    });
    </script>
}